/**
 * Global styles used accross sections
 */

::selection {
	background: rgba(0, 0, 0, 0.8);
	color: $white;
}

* {
	outline: none !important;
	font-family: Calibri, sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}
html {
	font-size: $font-size-body;
}
body {
	height: 100vh;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
button {
	margin: 0;
}
i {
	display: inline-block;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	text-decoration: none;
	overflow: visible;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none !important;
	color: $theme-dark-blue;
	padding: 10px;
	&:hover {
		color: $theme-dark-blue;
	}
	&:visited {
		color: $theme-dark-blue;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

// Components global

.overflow-hidden {
	overflow: hidden !important;
}
